@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --primary-font: 'Roboto', sans-serif;
    --primary-font-color: #505F98;
    --secondary-font-color: #091133;
    --third-font-color: #5D6970;
    --primary-bg:#ffffff;
    --second-bg:#E7ECFF;
    --third-bg:#E7ECFF;   
    --primary-width: 1110px;
    --primary-font-size: 16px;
}

/* Primary */
body{
    font-family: var(--primary-font);
    background-color: var(--primary-bg);
    font-size: var(--primary-font-size);
}
ul li a,
ul li,
*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: content-box;
    scroll-behavior: smooth;
}


/* Navbar */

.nav{
    max-width: var(--primary-width);
    height: 60px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.nav div:nth-child(2) {
    text-align: center;
}
.navUl{
    display: flex;
    color: var(--primary-font-color);
}
.navUl li a{
    margin-right: 60px;
}
.nav div:last-child {
    text-align: right;
}
.primary-btn-mini{
    color: var(--primary-bg);
    background-color: var(--secondary-font-color);
    padding: 10px 60px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}